.asideNavigation{
    position: fixed;
    color: white;
    top:89px;
    /* border: solid; */
}

.asideNavigationItems{
    display: flex; 
    flex-direction: column;
    align-items: center;
    padding: 17px 10px;
}

.asideNavigationItems i{
    font-size: 1.2rem;
}
.asideNavigationItems span{
    font-size: .7rem;
    padding-top: 5px;
    font-family: sans-serif;
}


@media screen and (max-width:600px) {
    .asideNavigation{display: none;}
}